<div class='row'>
  <div class="col-md-3 col-lg-3 boxes">
    <div class='box1'>
      <div class='box1-content'>
        <h1>FUTURE CERCA RESIDENT</h1>
        <a href='/' class='nounderline'><p>Learn More »</p></a>
        <p>A new name and a new lifestyle.<br> Stay in touch to find out what is coming.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-lg-3 boxes">
    <div class='box2'>
      <img src='assets/girls in grass.png'>
    </div>
  </div>
  <div class="col-md-3 col-lg-3 boxes">
    <div class='box3'>
      <img src='assets/3 ppl.png'>
    </div>
  </div>
  <div class="col-md-3 col-lg-3 boxes">
    <div class='box4'>
    </div>
  </div>
</div>
<div class='row'>
  <div class="col-md-3 col-lg-3 boxes2">
    <div class='r2-box1'>
      <img src='assets/3 ppl sitting.png'>
    </div>
  </div>
  <div class="col-md-9 col-lg-9 boxes2">
    <div class='row rfix'>
      <div class="col-md-4 col-lg-4 boxes">
        <div class='r2-box2'>
          <img src='assets/logo.png'>
        </div>
      </div>
      <div class="col-md-8 col-lg-8 boxes3">
        <div class='r2-box3'>
          <img src='assets/2 girls.png'>
        </div>
      </div>
    </div>
    <div class='row rfix'>
      <div class="col-md-4 col-lg-4 boxes3">
        <div class='r2-box3'>
          <img src='assets/2 girls 1 guy on laptop.png'>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 boxes3">
        <div class='r2-box3'>
          <img src='assets/4 ppl.png'>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 boxes3">
        <div class='row3box4'>
          <div class='box-content'>
            <h1>CURRENT CERCA RESIDENT</h1>
            <a href='http://cerca.residentportal.com/' class='nounderline'><p>Pay Rent »</p></a>
            <p>A new name and a new lifestyle.<br> Stay in touch to find out what is coming.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
