<!DOCTYPE html>
<html>
<head>
  <title>Cerca</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer id='footer'>
  <div class='block'>
    <div class='content'>
      <div class='float-left'>
        <a href="http://assetcampushousing.com/" target="_blank">
          <img alt="Warmington" src="assets/warmington.jpg">
        </a>
      </div>
      <div class='text-middle'>
      </div>
      <div class='float-right'>
      <img src="assets/asset-logo.jpg" alt="Asset Campus Housing">
      <img alt="Equal Housing" src="assets/equal-black.png">
      </div>
    </div>
  </div>
</footer>
</body>
</html>
